/* Style CSS */

body {
	font-family: 'roboto';
	text-align: center;
	background-color: #333;
	color: #DDD;
	margin: 25px 8px;
}

h1 {
	font-family: 'roboto', Ultra-bold;
	font-size: 2.5em;	
}

h3 {
	font-weight: 600;
	font-size: 1.5em;
	margin-top:.5em;
	margin-bottom:.5em;
}

form {
	display: inline;
}

div.wrapper {
	margin: auto;
}

div.list_all {
	width:200px;
	margin-left: auto;
  	margin-right: auto;
	padding:10px;
	text-align: left;
	overflow: hidden;
	line-height: 150%;
}

div.card {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 90%;
	max-width: 400px;
	margin-left: auto;
  	margin-right: auto;
	padding:10px;
	text-align: center;
	background-color: #ececec;
	overflow: hidden;
	line-height: 150%;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
}

.card_content {
	margin:0px;
	padding:10px 4px;
	border:2px;
	color: #333;
	font-size:22px;
	line-height:22px;
    text-shadow: 1px 1px 0 #fff;
}

div.random_item_1 {
	margin:0px;
	padding:2px 4px;
	border:2px;
	color: #333;
	font-size:50px;
	line-height:50px;
	font-weight:bold;
    text-shadow: 1px 1px 0 #fff;
}

div.random_item_2 {
	margin:0px;
	padding:10px 4px;
	border:2px;
	color: #333;
	font-size:22px;
	line-height:22px;
    text-shadow: 1px 1px 0 #fff;
}

div.random_item_3 {
	margin:0px;
	padding:5px 4px;
	border:2px;
	color: #333;
	font-size:12px;
	line-height:12px;
    text-shadow: 1px 1px 0 #fff;
}

button.danger {
	margin: 2px;
	width: 200px;
}

.action {
	color:#FFF;
}

a.url:link {color:#DDD;}    /* unvisited link */
a.url:visited {color:#DDD;}  /* visited link */
a.url:hover {color:#FFF;}  /* mouse over link */
a.url:active {color:#AAA;}  /* selected link */